html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  font-family: arial, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

:root {
  --border-primary: #dfe1e5;
  --btn-primary: #f8f9fa;
  --text-primary: #222;
  --text-lighter: #777;
  --text-secondary: #3c4043;
  --text-blue: #4285f4;
  --text-red: #d93025;
  --hr-primary: #ebebeb;
}
a {
  text-decoration: none;
  color: var(--text-primary);
}
.navbar a:visited {
  color: var(--text-primary);
}
.navbar a:hover,
.navbar a:focus {
  text-decoration: underline;
}

.mt-2 {
  margin-top: 2.8rem;
}

input[type="text"] {
  width: 100%;
  border: 1px solid var(--border-primary);
}
input[type="text"].main-search:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
input[type="text"].main-search:focus {
  outline: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
input[type="text"].main-search {
  padding: 1.3rem 4rem;
  border-radius: 2.2rem;
}

button,
input[type="submit"] {
  background-color: var(--btn-primary);
  border: none;
  padding: 1rem 1.5rem;
  color: var(--text-secondary);
  cursor: pointer;
  border-radius: 2px;
}
button,
input[type="submit"]:hover {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
}
button,
input[type="submit"]:focus {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  outline: 1px solid var(--text-blue);
}

.hidden-btn[type="submit"] {
  display: inline;
  background: rgba(0, 0, 0, 0);
  padding: 0;
  margin: 0;
  background: none;
}
.hidden-btn[type="submit"]:focus {
  box-shadow: none;
  outline: none;
}
#submiter {
  box-shadow: none;
  outline: none;
}
/* 
.hidden-btn {
  display: inline;
  padding: 0;
  margin: 0;
  cursor: pointer;
} */

.hidden-btn:focus {
  outline: none;
}
/* NAVBAR STYLES */
nav {
  font-size: 1.4rem;
  width: 100%;
  height: 3rem;
  padding: 3rem 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 2;
}
nav img {
  display: inline-block;
  margin-top: 1rem;
}
nav a {
  display: inline-block;
  margin-right: 1.5rem;
}
nav .navbar-right {
  display: flex;
  margin-right: 1rem;
}
nav .navbar-left {
  display: flex;
  margin-left: 2rem;
}
/* END NAVBAR STYLES */

/* HERO STYLES */
.hero {
  display: flex;
  height: 29rem;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.hero img {
  width: 272px;
  height: 92px;
}
/* END HERO STYLES */

/* FORM AREA STYLING */
.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  font-size: 1.6rem;
}
.search form {
  width: 60rem;
  margin-bottom: 2rem;
}
.input-form-control {
  position: relative;
  margin-bottom: 2.5rem;
}

.input-form-control .mic-svg {
  position: absolute;
  right: 1.5rem;
  top: 1rem;
  height: 2.5rem;
  width: 2.5rem;
}
.input-form-control .search-svg {
  position: absolute;
  left: 1rem;
  top: 1.2rem;
  height: 2rem;
  width: 2rem;
  fill: #adb1b6;
}
.submit-form-control {
  display: flex;
  justify-content: center;
}
.submit-form-control input {
  margin: 0.8rem;
}
/* End form area styling */

/* image.html specific */

.hero .img-container {
  position: relative;
}

.hero .img-container figure {
  position: absolute;
  color: var(--text-blue);
  right: 0;
  bottom: 0.5rem;
}
.search .input-form-control .input-overlay-right {
  position: absolute;
  right: 1.5rem;
  top: 1rem;
}
.search .input-form-control .input-overlay-right .input-overlay-item {
  margin-left: 0.5rem;
}

.search .input-form-control img {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
}
.search .input-form-control svg {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
}
.search .input-form-control #submit {
  fill: var(--text-blue);
}

/* end image.html specific */

/* start advanced.html specific */
.bg-light {
  background-color: #f1f1f1;
}
.container {
  padding: 2rem 4rem;
  margin-bottom: 1rem;
  max-width: 1100px;
}
.container h2 {
  color: var(--text-red);
  font-weight: 400;
  font-size: 2rem;
}
.hr {
  width: 100%;
  height: 1px;
  background: var(--hr-primary);
}
.form-grid {
  display: grid;
  grid-template-columns: 16rem 7fr 6fr;
  font-size: 1.3rem;
  gap: 1rem;
  margin-bottom: 2rem;
}
.form-grid .help-text,
.example-search {
  font-size: 1.1rem;
}
input[type="text"].adv-search {
  padding: 0rem 1rem;
  margin: 0.4rem 0rem;
}
input[type="text"].adv-search:focus {
  outline: none;
  border: 1px solid var(--text-blue);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4) inset;
}

.form-grid label,
.form-grid div,
.form-grid input {
  padding: 1rem 0rem;
}
.form-grid .form-heading {
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 0;
  padding: 0;
}
.form-grid .form-explanation {
  font-weight: 600;
  color: var(--text-lighter);
  margin-bottom: 0;
  padding: 0;
}
.form-grid .form-submit {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}
.btn-secondary {
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  background-color: var(--text-blue);
  outline: none;
}
.btn-secondary:hover,
.btn-secondary:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
}
.example-search {
  font-family: monospace;
}
.help-text.two-line {
  padding: 0;
  padding-top: 0.5rem;
}
